###############################################################################
# Normalize text files while leaving line-ending conversion to Git.
###############################################################################
* text=auto

###############################################################################
# Treat common binary files as binary.
###############################################################################
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
